body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}


.page-content {
    display: grid;
    background-image: url('./media/backgroundphoto.jpg');
}


#buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttons>div {
    border: solid;
    margin: 20px;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

#buttons>div:hover {
    background-color: black;
    color: white;
    border: solid;
}

#menuList,
#contactList,
#homePageContent {
    display: grid;
    justify-items: center;
    justify-content: center;
    background-color: lightgreen;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

#homePageContent>h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

#homePageContent>h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

#homePageContent>h5 {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 85%;
}

img {
    width: 400px;
}


#menuList1,
#menuList2,
#menuList3 {
    display: grid;
    justify-items: center;
    justify-content: center;
    background-color: darkgreen;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    height: 500px;
}

#menuList1>h1,
#menuList2>h1,
#menuList3>h1 {
    margin-top: 0px;
}

#contactList1,
#contactList2,
#contactList3 {
    display: grid;
    justify-items: center;
    justify-content: center;
    background-color: darkgreen;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 20px;
}